<!-- SERVICES -->
<div class="row services p-0">
    <div class="col-12 d-flex justify-content-center" id="specialist">
      <!-- BOX SERVICES -->
      <div class="card p-3" id="box-specialist">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="title-service text-center">
                <h2 class="mb-5">My Specialist</h2>
              </div>
            </div>
          </div>
          <!-- SERVICE -->
          <div class="row text-center">
            <div class="col-12 col-md-2 title-service">
                <i class="fa-brands fa-html5 icon-specialist icon-html"></i>
                <h3>HTML</h3>
            </div>
            <div class="col-12 col-md-2 title-service">
                <i class="fa-brands fa-css3-alt icon-specialist icon-css"></i>
              <h3>CSS</h3>
            </div>
            <div class="col-12 col-md-2 title-service">
                <i class="fa-brands fa-js icon-specialist icon-javascript"></i>
              <h3>Javascript</h3>
            </div>
            <div class="col-12 col-md-2 title-service">
                <i class="fa-brands fa-bootstrap icon-specialist icon-boostrap"></i>
              <h3>Boostrap</h3>
            </div>
            <div class="col-12 col-md-2 title-service">
                <i class="fa-brands fa-angular icon-specialist icon-angular"></i>
              <h3>Angular</h3>
            </div>
            <div class="col-12 col-md-2 title-service">
                <i class="fa-brands fa-node-js icon-specialist icon-nodeJs"></i>
              <h3>Node Js</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  