<!-- Start Breadcrumbs -->
<app-breadcrumbs
  title="Add Document"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="container">
  <form (submit)="onSubmit()" enctype="multipart/form-data">
    <div class="card">
      <div class="card-body">
        <h1>Add Project</h1>
        <hr />
        <div class="mb-3">
          <label class="form-label" for="projectTitle">Project Title</label>
          <input        
            type="text"
            class="form-control"
            id="projectTitle"
            name="projectTitle"
            [(ngModel)]="projectTitle"
            required
          />
        </div>
        <div>
          <label class="form-label" for="description">Description</label>
          <input
            type="text"
            class="form-control"
            id="description"
            name="description"
            [(ngModel)]="description"
            required
          />
        </div>
        <div class="mt-3">
          <label class="form-label" for="categoryId">Category</label>
          <select [(ngModel)]="categoryId" class="form-select" id="categoryId" name="categoryId" required>
            <!-- <option selected>Open this select Categories</option> -->
            <ng-container *ngFor="let option of categories" >
              <option value="{{option.categories_id}}"> {{option.categories_name}} </option>
            </ng-container>
          </select>
        </div>
        <div class="mt-3">
          <button type="submit" class="btn btn-primary">Add Project</button>
        </div>
      </div>
    </div>
  </form>
</div>
