<!-- SERVICES -->
<div class="row services p-0">
  <div class="col-12 d-flex justify-content-center" id="services">
    <!-- BOX SERVICES -->
    <div class="card p-3" id="box-services">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div class="title-service text-center">
              <h3 class="">Services</h3>
              <h2 class="mb-5">What I Do</h2>
            </div>
          </div>
        </div>
        <!-- SERVICE -->
        <div class="row text-center">
          <div class="col-12 col-md-3 title-service">
            <i class="fa-solid fa-code icon-service"></i>
            <h3>Web Development</h3>
          </div>
          <div class="col-12 col-md-3 title-service">
            <i class="fa-solid fa-pen-nib icon-service"></i>
            <h3>Design Graphic</h3>
          </div>
          <div class="col-12 col-md-3 title-service">
            <i class="fa-solid fa-camera icon-service"></i>
            <h3>Photography</h3>
          </div>
          <div class="col-12 col-md-3 title-service">
            <i class="fa-sharp fa-solid fa-video icon-service"></i>
            <h3>Videography & Motion Grpahic</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
