#my-service {
  background-color: #1a1b1e;
}
#box-services {
  background-color: #1a1b1e;
  border-radius: 15px;
  bottom: 3em;
  width: 75em;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-title {
  color: #fff;
}
.title-service h3 {
  color: #fff;
  font-weight: bold;
}
.title-service h2 {
  color: #68cbb4;
  font-weight: bold;
}

.icon-service {
  color: #68cbb4;
  font-size: 3em;
  margin-bottom: 20px;
}

.item-service h4 {
  color: #fff;
  font-weight: bold;
}
