.background-web{
    background-color: #2D2E32;
}

.navbar-brand {
    color: #68CBB4;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 18px;
}

#navbarNav  li  a {
    color: #fff;
    font-family: 'Poppins';
    font-weight: bold;
}