.background-web {
  background-color: #2d2e32;
}

.navbar-brand {
  color: #68cbb4;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 18px;
}

#navbarNav li a {
  color: #fff;
  font-family: "Poppins";
  font-weight: bold;
}

#services {
  background-color: #25262a;
}

#portofolio {
  background-color: #25262a;
}
.title-section-portofolio {
  margin-top: 30%;
}
