.contactMe {
    background-color: #fff;
}
.brand-name {
    color: #68CBB4;
    font-size: 6em;
    font-family: 'Poppins';
    font-weight: bold;
    line-height: 1em;
}
.tagLine {
    color: rgba($color: #ffffff, $alpha: 0.5);

}