<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-white">Hi There... I'am</h3>
                    <span class="brand-name">ROMI RAHMAN</span>
                    <p class="tagLine"> Designing, Developing, and Delivering  Web Excellence for into Seamless Digital Experiences</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-primary me-3">Portofolio</button>
                    <button class="btn contactMe me-3">Contact Me</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <img src="../../../../../assets/images/portofolio/Banner 1.png" class="img-fluid" alt="">
        </div>
    </div>
</div>
