<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
      <div class="row">
        <div class="col-12">
          <div class="typing-container">
            <h3 class="text-white" id="sayHi"></h3>
          </div>
          <span class="brand-name fade-in">ROMI RAHMAN</span>
          <p class="tagLine fade-in">
            Designing, Developing, and Delivering Web Excellence for into
            Seamless Digital Experiences
          </p>
        </div>
      </div>
      <div class="row fade-in">
        <div class="col-12">
          <button class="btn btn-porto me-3 card-animate">Portofolio</button>
          <button class="btn contactMe me-3 card-animate fw-bold">
            Contact Me
          </button>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <img
        src="../../../../../assets/images/portofolio/Banner 1.png"
        class="img-fluid fade-in"
        alt=""
      />
    </div>
  </div>
</div>
